# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# AWS
.aws/
credentials

# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json

# Next.js
.next/

# Python
scripts/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Data
data/